body {
    margin: 0;
    background-color: #002b18;
    font-family: 'Inter', sans-serif;
    color: white;
}
.characters-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 40px;
    text-align: center;
    justify-items: center;
}

.character-card img {
    width: auto;
    max-width: 350px;
}

.character-card h2 {
    margin-top: 10px;
    font-size: 20px;
}
.cta-button{
    width: fit-content;
    font-family: Inter;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    color: #04F5A6;
    background: #042441;
    border: none;
    padding: 20px 20px;
    transition: background 0.3s ease;
}
.cta-button:hover {
    background-color: #04182b;
}