body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #002b18;
    color: white;
}
.header {
    position: relative;
    width: 100%;
    background: url('../assets/img/main_page.png') ;
    height: 12vh;
}

.header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-image .background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;  /* Делает картинку немного прозрачной */
}
.nav {
    background-color: #00203B; /* тёмно-синий */
    padding: 0;
    width: 100%;
    position: relative;
    z-index: 1;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 10vh;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    text-transform: lowercase;
    padding: 15px 20px;
    display: block;
    transition: background 0.3s;
}


.nav-list a.active {
    background-color: #006064;
}
.story-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
    align-items: start;
    gap: 30px;
    justify-items: center;
}
.story-image{
    grid-column: 1;
    grid-row: 1;
}
.story-text{
    grid-column: 2;
    grid-row: 1;
}
.story-content img {
    width: 100%;
    max-width: 678px;
}

.story-text p {
    font-family: Inter;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    max-width: 250px;
}